<!DOCTYPE html>
<html lang="en">
<head>
  <title>JavaScript and HTML</title>
  <meta charset="utf-8"/>
  <script>
    function changeTitle(){
      var title = document.querySelector("#mainTitle");
      title.innerHTML += "<br>This new <u>title</u> has been changed from javascript"
    }
    
    function changeCSSStyle(){
      //alert("enter")
      var title = document.querySelector("#mainTitle");
      title.style.color = "black";
      title.style.backgroundColor = "yellow";
      title.style.border = "5px dashed blue"
    }
  </script>
</head>
  <body>
    <h1 id="mainTitle">My home page</h1> 

    <p>This is an example of interactivity between JavaScript and the HTML content of a document.</p>
    <button onclick="changeTitle();">This is a button to change the title</button>
    
    <br>
    <br>
    <button onclick="changeCSSStyle();">This is another button, but it is to change CSS style</button>
    
  </body>
</html>