<!DOCTYE html>
<html lang="en">
    <head>
      <title>Your first HTML page</title>  
      <meta charset="uft-8"/>
    </head>
    <body>
      <h1>Ma première HTML </h1>  
      <h2>qui suis je?</h2>
      <p>Bonjour!, je m'appelle Alejandro Montilla</p>
      
      <img src="https://www.gravatar.com/avatar/9207ba3b9163582570078b687f9b2792?s=328&d=identicon&r=PG&f=1"
           width=100
           alt="Alejandro Montilla's avatar on stackoverflow">
         
      <h2>mes loisirs / mes passe-temps</h2>
      <p>Films, musique, langues, famille</p>
    </body>
</html>
        
    